@media screen and (max-width:1024px){
   
   
    #container{
        transform: translateY(2%);
    }
}


@media screen and (max-width:850px){
   
    #container{
        width:80%;
    }
}


@media screen and (max-width:414px){
   
    #container{
        transform: translateY(10%);
    }

    #edit{
        height:550px;
    }

}