*{
    margin:0;
    padding:0;
    -webkit-tap-highlight-color: transparent;
   
}

body,html{
    box-sizing: border-box;
    margin:0;
    padding:0;
    outline:none;
    overflow-x: hidden;
}

body{
    background: #ffe79a;
    height:100vh;
    width:100%;
}


#container{
    position: relative;
    max-width:650px;
    width:100%;
    min-width:375px;
    display: block;
    margin:0 auto;
    transform: translateY(10%);
}
#style-text{
    position: relative;
    width:100%;
    padding: 0;
    margin-bottom: 0 0 10px 0;
    background:#ffa952;
    height:40px;
    border-radius:2px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 1px 5px 0.3px rgba(0,0,0,0.4);
    z-index: 1;
}

#style-text button,#style-text select,#style-text input{
    background:transparent;
    height:32px;
    width:32px;
    margin: 5px 0px 5px 5px;
    border:none; 
    outline:none;
    cursor:pointer;
    color:#333;
}

#edit{
    position: relative;
    width:100%;
    height:842px;
    background:#FFFFFF;
    border-radius: 1px;
    box-shadow: 0px 1px 5px 0.3px rgba(0,0,0,0.4);
    z-index: 0;
}

/* class add to clicked */
.clicked{
    background-color: #ff9832 !important;
    border-radius: 20%;
}



@keyframes click{
    0%{background-color: #DADADA !important;
        font-size:50px;}
    100%{background-color:transparent !important;}
}