*{
    margin:0;
    padding:0;
}

body,html{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
   /* background:url('./img/moon.jpg')no-repeat center;
    background-size: cover;*/
    background:linear-gradient(0deg,#fff,#D4D3D3);
    height:100vh;
    width:100%;
}


#container{
    position: relative;
    max-width:800px;
    width:100%;
    min-width:375px;
    display: block;
    margin:0 auto;
    transform: translateY(20%);
}
#style-text{
    position:relative;
    width:100%;
    margin-bottom:10px;
    background: #EFF0F0;
    height:40px;
    border-radius:2px;
    display: flex;
    justify-content: start;
    box-shadow: 0px 1px 5px 0.3px rgba(0,0,0,0.4);
}

#style-text button,#style-text select,#style-text input{
    background:transparent;
    height:32px;
    width:32px;
    margin: 5px 0px 5px 5px;
    border:none; 
    outline:none;
    cursor:pointer;
    color:#333;
}

#edit{
    position: relative;
    width:100%;
    height:477px;
    background:#FFFFFF;
    border-radius: 1px;
    box-shadow: 0px 1px 5px 0.3px rgba(0,0,0,0.4);
 
}

/* class add to clicked */
.clicked{
    background-color: transparent;
    border-radius: 20%;
    animation: click 1s ease-out;
}


@keyframes click{
    from {background-color: #DADADA;}
  to {background-color:transparent;}
}